  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© 2022 Herculano</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
            <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
        </svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
            <a href="https://github.com/herculano-silva" class="nav-link px-2 text-muted">Github</a>
        </li>
        <li class="nav-item">
            <a href="https://www.linkedin.com/in/laecioherculano/" class="nav-link px-2 text-muted">Linkedin</a>
        </li>
        <li class="nav-item">
            <a href="https://www.youtube.com/channel/UCI9htGi8S1PzeVSV0ZSrpqQ" class="nav-link px-2 text-muted">Youtube</a>
        </li>
      </ul>
    </footer>
  </div>