<!-- <div class="jumbotron bg-danger p-3 my-3">
    <h1>PHP - MVC</h1>
    <p>Model - View - Controller</p>
</div> -->

<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">PHP com MVC</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          
        </div>
        <div>
          <h2>Model</h2>
          <p>Gerencia dados e lógica de negócios. O modelo define quais dados o aplicativo deve conter.</p>
          <!-- <a href="#" class="btn btn-primary">
            Primary button
          </a> -->
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h2>View</h2>
          <p>Lida com layout e exibição. Define como os dados do aplicativo devem ser exibidos.</p>
          <!-- <a href="#" class="btn btn-primary">
            Primary button
          </a> -->
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h2>Controller</h2>
          <p>Define como os dados do aplicativo devem ser exibidos. O controlador contém lógica que atualiza o modelo e/ou visualização em resposta à entrada dos usuários do aplicativo.</p>
          <!-- <a href="#" class="btn btn-primary">
            Primary button
          </a> -->
        </div>
      </div>
    </div>
  </div>